// background
$background_image: 'ComicsBackground.png';
$background-position: fixed;
$background-repeat: repeat;

// border
$border_main_line: solid;
$border_main_width: 1px;

// button


// colors
$color_invisible: rgba(255, 255, 255, 0);

$color_main: #ED1C24;
$color_main-darkest: #090000;
$color_main-lightest: #FFD7D7;


// font and text
$font-family_titles: 'Righteous', Arial, Helvetica, sans-serif;
$font-family_text: 'Comfortaa', Arial, Helvetica, sans-serif;

$font-size_titles: 40px;
$font-size_text: 12px;

// miscellaneous
$transition_main: 0.5s ease-in-out;
